button {
    width: 100%;
    text-align: left;
}

.app-legal-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

app-legal {
    margin-top: 32px;
    display: block;
}

iframe {
    height: 90vh;
    width: 100vh;
    background: #585757;
}
