<ng-container>
    <div class="app-container custom-scroll">
        <div class="tab-links">
            <div class="container">
                <nav mat-tab-nav-bar>
                    <a mat-tab-link *ngFor="let link of navLinks" (click)="updatePdf(link)">
                        {{ link.label }}
                    </a>
                </nav>
                <div class="container mt-3 mb-3">
                    <iframe [src]="currentUrl"></iframe>
                </div>
            </div>
        </div>
    </div>
</ng-container>